body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background-image: url("img/buildings-city-high-rises-10676_02.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.showcase:hover .hero {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.hero {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    margin-top: 105px;
    width: 300px;
    height: 350px;
    transition: all 1000ms;
}

.hero .logo {
    height: 200px;
    width: 400px;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.grid-3 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.service-info i {
    color: #43D3E8;
}

.portrait {
    height: 40rem;
    width: 30rem;
    border-radius: 5px;
}

.center {
    text-align: center;
    margin: auto;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #f4f4f4;
}

footer {
    padding: 2.2rem;
}

footer p {
    margin: 0;
}


/* Small Screens */

@media (max-width: 560px) and (min-width: 450px) {
    .showcase::after {
        height: 50vh;
    }
    .hero {
        top: 5%;
        left: 11%;
        height: 10px;
        width: 30px;
    }
    .grid-3,
    .grid-2 {
        grid-template-columns: 1fr;
    }
    .service-info {
        border-bottom: #333 dashed 1px;
        padding: 1.2rem 1rem;
    }
    .portrait {
        height: 30rem;
        width: 20rem;
    }
}

@media (max-width: 449px) {
    .showcase::after {
        height: 50vh;
    }
    .hero {
        top: 2%;
        left: 18%;
    }
    .hero .logo {
        height: 180px;
        width: 280px;
    }
    .grid-3,
    .grid-2 {
        grid-template-columns: 1fr;
    }
    .service-info {
        border-bottom: #333 dashed 1px;
        padding: 1.2rem 1rem;
    }
    .portrait {
        height: 30rem;
        width: 20rem;
    }
}


/* Landscape */

@media (max-height: 500px) {
    .hero {
        top: 0;
    }
}